{
  email wokspecialists@proton.me
}

:80 {
  encode zstd gzip

  handle_path /metrics* {
    reverse_proxy bot:9100
  }

  handle_path /healthz* {
    reverse_proxy bot:9100
  }

  reverse_proxy dashboard:8788
}
